@import "variables";

#results-container {
    @extend %container;

    #results-header {
       @extend %heading;
       margin-bottom: 20px;

       #highscore {
        font-size: $secondary-font-size;
        font-weight: $weight;
       }
    }

    #results-body {
        text-align: center;

        #score {
            font-size: $header-font-size;
            margin-bottom: 20px;
            font-weight: $weight;
        }

        #skill {
            font-size: $secondary-font-size;
            margin-bottom: 15px;
            font-weight: $weight;
        }

        #play-again {
            @extend %next-question-button;
        }

        #play-again:hover {
            @extend %hover;
        }
    }
}