@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700");

$header-font-size: 18px;
$secondary-font-size: 15px;
$normal-font-size: 12px;

$base-font: "Montserrat";
$weight: 600;

$primary-color: #aaa69a;
$secondary-color: #e0d3bf;
$button-color: #d2b48c;
$font-color: #4e4e4e;

%hint-button {
    font-size: $normal-font-size;
    background-color: $button-color;
    color: $font-color;
    padding: 5px;
    border-radius: 5px;
    font-weight: $weight;
}

%next-question-button {
    background-color: $button-color;
    color: $font-color;
    font-weight: $weight;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 5px;
    display: block;
}

%answer-button {
    background-color: $button-color;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: $weight;
}

%hover {
    background-color: $font-color;
    color: whitesmoke;
}

%heading {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

%container {
    background-color: $secondary-color;
    max-width: 400px;
    padding: 20px;
    margin: 30px auto 30px;
    border-radius: 10px;
}

@media only screen and (min-width: 767px) and (max-width: 1199px) {
    /* Mobile styles */
    $secondary-font-size: 18px;
    $normal-font-size: 15px;
    $header-font-size: 25px;

    %container {
        background-color: $secondary-color;
        max-width: 400px;
        padding: 20px;
        margin: 20px auto 20px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    /* Desktop styles */
    $secondary-font-size: 18px;
    $normal-font-size: 15px;
    $header-font-size: 25px;

    %container {
        background-color: $secondary-color;
        max-width: 450px;
        padding: 15px;
        margin: 10px auto 20px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1600px) {
    /* Desktop styles */
    $secondary-font-size: 25px;
    $normal-font-size: 20px;
    $header-font-size: 30px;

    %container {
        background-color: $secondary-color;
        max-width: 550px;
        padding: 25px;
        margin: 40px auto 40px;
        border-radius: 10px;
    }
}
