@use "results";
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $base-font;
}

body {
    background-color: #aaa69a;
}

.quiz-container {
    @extend %container;

    .heading {
        @extend %heading;

        h1 {
            font-size: 25px;
            font-weight: 600;
        }

        #hint {
            @extend %hint-button;
        }

        #hint:hover {
            @extend %hover;
        }
    }

    .quiz-app {
        padding: 20px 0;

        img {
            width: 100%;
            margin-bottom: 30px;
        }

        h2 {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
        }

        .answer {
          @extend %answer-button;
        }

        .answer:hover {
            @extend %hover;
        }

        #next-question {
            @extend %next-question-button;
        }

        #next-question:hover {
            @extend %hover;
        }

        .correct {
            background-color: forestgreen;
        }

        .incorrect {
            background-color: red;
        }

        .hint-used {
            background-color: lightgray;
            color: $font-color;
        }
    }
}
