@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700");
.quiz-container .heading #hint {
  font-size: 15px;
  background-color: #D2B48C;
  color: #4E4E4E;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}

.quiz-container .quiz-app #next-question, #results-container #results-body #play-again {
  background-color: #D2B48C;
  color: #4E4E4E;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 5px;
  display: block;
}

.quiz-container .quiz-app .answer {
  background-color: #D2B48C;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.quiz-container .heading #hint:hover, .quiz-container .quiz-app .answer:hover, .quiz-container .quiz-app #next-question:hover, #results-container #results-body #play-again:hover {
  background-color: #4E4E4E;
  color: whitesmoke;
}

.quiz-container, #results-container {
  background-color: #E0D3BF;
  width: 90%;
  max-width: 600px;
  padding: 25px;
  margin: 70px auto 70px;
  border-radius: 10px;
}

.quiz-container .heading, #results-container #results-header {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

#results-container #results-header {
  margin-bottom: 20px;
}
#results-container #results-header #highscore {
  font-size: 18px;
  font-weight: 600;
}
#results-container #results-body {
  text-align: center;
}
#results-container #results-body #score {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 600;
}
#results-container #results-body #skill {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}
.quiz-container .heading #hint {
  font-size: 15px;
  background-color: #D2B48C;
  color: #4E4E4E;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}

.quiz-container .quiz-app #next-question, #starting-container #start-game {
  background-color: #D2B48C;
  color: #4E4E4E;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 5px;
  display: block;
}

.quiz-container .quiz-app .answer {
  background-color: #D2B48C;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.quiz-container .heading #hint:hover, .quiz-container .quiz-app .answer:hover, .quiz-container .quiz-app #next-question:hover, #starting-container #start-game:hover {
  background-color: #4E4E4E;
  color: whitesmoke;
}

.quiz-container, #starting-container {
  background-color: #E0D3BF;
  width: 90%;
  max-width: 600px;
  padding: 25px;
  margin: 70px auto 70px;
  border-radius: 10px;
}

.quiz-container .heading {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

#starting-container {
  margin: 150px auto 0;
}
#starting-container h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}
#starting-container p {
  font-size: 10px;
  text-align: center;
  font-weight: 600;
}
@media only screen and (min-width: 600px) {
  #starting-container p {
    font-size: 15px;
  }
}
.quiz-container .heading #hint {
  font-size: 15px;
  background-color: #D2B48C;
  color: #4E4E4E;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}

.quiz-container .quiz-app #next-question {
  background-color: #D2B48C;
  color: #4E4E4E;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 5px;
  display: block;
}

.quiz-container .quiz-app .answer {
  background-color: #D2B48C;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.quiz-container .quiz-app #next-question:hover, .quiz-container .quiz-app .answer:hover, .quiz-container .heading #hint:hover {
  background-color: #4E4E4E;
  color: whitesmoke;
}

.quiz-container {
  background-color: #E0D3BF;
  width: 90%;
  max-width: 600px;
  padding: 25px;
  margin: 70px auto 70px;
  border-radius: 10px;
}

.quiz-container .heading {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-color: #aaa69a;
}

.quiz-container .heading h1 {
  font-size: 25px;
  font-weight: 600;
}
.quiz-container .quiz-app {
  padding: 20px 0;
}
.quiz-container .quiz-app img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.quiz-container .quiz-app h2 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.quiz-container .quiz-app .correct {
  background-color: forestgreen;
}
.quiz-container .quiz-app .incorrect {
  background-color: red;
}
.quiz-container .quiz-app .hint-used {
  background-color: lightgray;
  color: #4E4E4E;
}
.quiz-container .quiz-app .correct:hover {
  background-color: forestgreen;
}
.quiz-container .quiz-app .incorrect:hover {
  background-color: red;
}/*# sourceMappingURL=style.css.map */